{% extends 'base.html'%}

{% block contents %}
<body>
    <div class="container">
        <div class="row mt-5 m-2">
            <div class="col-12">
                    <h3 class="text-center">인구학적 특성 <br><small class="text-muted">손은호를 인구학적 특성을 중심으로 알아봅시다.</small></h3>
            </div>
            
        </div>
        <div class="row">
            <div class="col text-left m-3">손은호는 신장 173cm, 몸무게 80kg으로 나라에서 인정한(병무청) 과체중 2급 신체입니다.<br>
                신장체중을 제외한 내장과 다른 기관들, 특히 안구건강(좌 1.2, 우 1.5), 간건강은 매우 좋습니다.<br>
                1998년 9월 7일생으로 보기와는 다르게 처녀자리이며 2019년 2월기준 한국나이로 22살입니다.<br>
                주 서식지는 서울시 노원구이며 종종 종로구와 서울내 다른 지역에도 출몰합니다.<br>

            </div>
        </div>
    </div>
</body>
{% endblock %}